<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savvycan.android"
    android:versionCode="1"
    android:versionName="1.0.0">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- USB OTG -->
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>

    <application
        android:name="org.qtproject.qt.android.QtApplicationBase"
        android:label="SavvyCAN"
        android:icon="@mipmap/icon"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <activity
            android:name="org.qtproject.qt.android.QtActivityBase"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:label="SavvyCAN"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- USB OTG device attach filter -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>

            <meta-data android:name="android.app.lib_name" android:value="SavvyCAN-Android"/>
        </activity>
    </application>
</manifest>